.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 2rem;
}

.logo-link {
    border-bottom: 3px solid $grey-500;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 1px 0;
}

.main-header.positioned {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}