html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  display: flex;
  width: 20%;
}

.card-link,
.card-link img {
  width: 100%;
}

.pagination-button {
  padding: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.active-button {
  pointer-events: none;
  background-color: white;
  color: black;
  cursor: none;
}
